*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
node_modules
*.log
package-lock.json
*.jar
*.war
dist
*.class
*.swp
*.swo
*.tmp
*.bak
**/.env
**/.env.*
*.keystore
*.jks
*.pem
*.crt
*.p12
/.firebase/
